### use of one hot encoding

- we can use one hot as an binary concepts to understand the performance of the data [variables] 
- use of dropna concepts are just we can reduce the one dimensional data but still we can have the complete infomation of the data

In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
df = pd.read_csv("./titanic.csv",usecols=['Sex','Embarked','Survived'])

In [7]:
df.head()

   Survived     Sex Embarked
0         0    male        Q
1         1  female        S
2         0    male        Q
3         0    male        S
4         1  female        S

In [8]:
df.isnull().sum()

Survived    0
Sex         0
Embarked    0
dtype: int64

### when we can can use k dummy concepts means without removing dropna concepts 
- when we are using tree based models 
- when we are using feature selection concepts by recursive algorithms 
- when interested in determining the importance of each single category

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test = train_test_split(df[['Sex','Embarked']],df['Survived'],test_size = 0.33,random_state = 42)

In [11]:
X_train.shape , X_test.shape

((280, 2), (138, 2))

### Using Pandas

The most interesting thing is there is a parameter called dummy_na in pandas get dummies concepts where we can create null value also as a special column if we are havign any null value in categorical data and if we want to use dummies , creatre null as a new columns also , this works in a good way

In [12]:
temp = pd.get_dummies(X_train['Sex'],drop_first=True)

In [13]:
temp.head()

     male
109     1
176     0
366     1
407     1
280     0

In [14]:
df = pd.concat([X_train,temp],axis = 1)
df.head()

        Sex Embarked  male
109    male        S     1
176  female        S     0
366    male        C     1
407    male        C     1
280  female        S     0

### Using Sklearn

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
### sparse matrix means increasing in the dimensnality reduction [increase in the column size]

### Dense matrix means normal column size

In [17]:
one = OneHotEncoder(categories='auto',drop='first',sparse=False,handle_unknown='error')

In [18]:
X_train.head()

        Sex Embarked
109    male        S
176  female        S
366    male        C
407    male        C
280  female        S

In [19]:
X_train.shape , X_test.shape

((280, 2), (138, 2))

In [20]:
one.fit(X_train)

OneHotEncoder(drop='first', sparse=False)

In [22]:
one.categories_

[array(['female', 'male'], dtype=object), array(['C', 'Q', 'S'], dtype=object)]

In [23]:
c = one.transform(X_train)

In [24]:
c

array([[1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 1., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 1., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [1., 0., 1.],
       [1., 1., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [0., 0., 1.],
       [1., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 1., 0.],
       [1., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 1., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 1., 0.]])

In [25]:
d = pd.DataFrame(c)

In [26]:
d

       0    1    2
0    1.0  0.0  1.0
1    0.0  0.0  1.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    0.0  0.0  1.0
..   ...  ...  ...
275  1.0  0.0  1.0
276  1.0  1.0  0.0
277  1.0  0.0  0.0
278  1.0  0.0  1.0
279  1.0  1.0  0.0

[280 rows x 3 columns]

In [31]:
import warnings 
warnings.filterwarnings("ignore")

In [32]:
one.get_feature_names()

array(['x0_male', 'x1_Q', 'x1_S'], dtype=object)

In [33]:
d.columns = one.get_feature_names()

In [34]:
d

     x0_male  x1_Q  x1_S
0        1.0   0.0   1.0
1        0.0   0.0   1.0
2        1.0   0.0   0.0
3        1.0   0.0   0.0
4        0.0   0.0   1.0
..       ...   ...   ...
275      1.0   0.0   1.0
276      1.0   1.0   0.0
277      1.0   0.0   0.0
278      1.0   0.0   1.0
279      1.0   1.0   0.0

[280 rows x 3 columns]

In [176]:
one.get_feature_names()

array(['x0_male', 'x1_Q', 'x1_S'], dtype=object)

In [177]:
c1 = one.transform(X_test)

In [178]:
t1 = pd.DataFrame(c1)
t1.columns = one.get_feature_names()

In [179]:
t1.head()

   x0_male  x1_Q  x1_S
0      1.0   0.0   0.0
1      0.0   0.0   1.0
2      1.0   1.0   0.0
3      1.0   0.0   1.0
4      0.0   0.0   1.0

In [180]:
len(t1) , t1.shape

(138, (138, 3))

### Using Feature-Engine

In [181]:
from feature_engine.encoding import OneHotEncoder

In [189]:
fe = OneHotEncoder(top_categories=None,drop_last=True)

In [190]:
X_train.isnull().sum()

Sex         0
Embarked    0
dtype: int64

In [191]:
fe.fit(X_train)

OneHotEncoder(drop_last=True)

In [192]:
fe.transform(X_train)

     Sex_male  Embarked_S  Embarked_C
109         1           1           0
176         0           1           0
366         1           0           1
407         1           0           1
280         0           1           0
..        ...         ...         ...
71          1           1           0
106         1           0           0
270         1           0           1
348         1           1           0
102         1           0           0

[280 rows x 3 columns]

In [193]:
fe.transform(X_test)

     Sex_male  Embarked_S  Embarked_C
321         1           0           1
324         0           1           0
388         1           0           0
56          1           1           0
153         0           1           0
..        ...         ...         ...
371         0           0           1
399         1           0           0
272         0           0           1
400         0           1           0
380         1           0           0

[138 rows x 3 columns]

In [2]:
df

NameError: name 'df' is not defined