### constant feartures means each observation has only same value and their variance will be = 0 , so we can remove those values definatelly

In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("dataset_1.csv")

In [7]:
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [8]:
for i in df.columns:
    print(i , 'Null values :',df[i].isnull().sum())

var_1 Null values : 0
var_2 Null values : 0
var_3 Null values : 0
var_4 Null values : 0
var_5 Null values : 0
var_6 Null values : 0
var_7 Null values : 0
var_8 Null values : 0
var_9 Null values : 0
var_10 Null values : 0
var_11 Null values : 0
var_12 Null values : 0
var_13 Null values : 0
var_14 Null values : 0
var_15 Null values : 0
var_16 Null values : 0
var_17 Null values : 0
var_18 Null values : 0
var_19 Null values : 0
var_20 Null values : 0
var_21 Null values : 0
var_22 Null values : 0
var_23 Null values : 0
var_24 Null values : 0
var_25 Null values : 0
var_26 Null values : 0
var_27 Null values : 0
var_28 Null values : 0
var_29 Null values : 0
var_30 Null values : 0
var_31 Null values : 0
var_32 Null values : 0
var_33 Null values : 0
var_34 Null values : 0
var_35 Null values : 0
var_36 Null values : 0
var_37 Null values : 0
var_38 Null values : 0
var_39 Null values : 0
var_40 Null values : 0
var_41 Null values : 0
var_42 Null values : 0
var_43 Null values : 0
var_44 Null values : 0
var_45 Null values : 0
var_46 Null values : 0
var_47 Null values : 0
var_48 Null values : 0
var_49 Null values : 0
var_50 Null values : 0
var_51 Null values : 0
var_52 Null values : 0
var_53 Null values : 0
var_54 Null values : 0
var_55 Null values : 0
var_56 Null values : 0
var_57 Null values : 0
var_58 Null values : 0
var_59 Null values : 0
var_60 Null values : 0
var_61 Null values : 0
var_62 Null values : 0
var_63 Null values : 0
var_64 Null values : 0
var_65 Null values : 0
var_66 Null values : 0
var_67 Null values : 0
var_68 Null values : 0
var_69 Null values : 0
var_70 Null values : 0
var_71 Null values : 0
var_72 Null values : 0
var_73 Null values : 0
var_74 Null values : 0
var_75 Null values : 0
var_76 Null values : 0
var_77 Null values : 0
var_78 Null values : 0
var_79 Null values : 0
var_80 Null values : 0
var_81 Null values : 0
var_82 Null values : 0
var_83 Null values : 0
var_84 Null values : 0
var_85 Null values : 0
var_86 Null values : 0
var_87 Null values : 0
var_88 Null values : 0
var_89 Null values : 0
var_90 Null values : 0
var_91 Null values : 0
var_92 Null values : 0
var_93 Null values : 0
var_94 Null values : 0
var_95 Null values : 0
var_96 Null values : 0
var_97 Null values : 0
var_98 Null values : 0
var_99 Null values : 0
var_100 Null values : 0
var_101 Null values : 0
var_102 Null values : 0
var_103 Null values : 0
var_104 Null values : 0
var_105 Null values : 0
var_106 Null values : 0
var_107 Null values : 0
var_108 Null values : 0
var_109 Null values : 0
var_110 Null values : 0
var_111 Null values : 0
var_112 Null values : 0
var_113 Null values : 0
var_114 Null values : 0
var_115 Null values : 0
var_116 Null values : 0
var_117 Null values : 0
var_118 Null values : 0
var_119 Null values : 0
var_120 Null values : 0
var_121 Null values : 0
var_122 Null values : 0
var_123 Null values : 0
var_124 Null values : 0
var_125 Null values : 0
var_126 Null values : 0
var_127 Null values : 0
var_128 Null values : 0
var_129 Null values : 0
var_130 Null values : 0
var_131 Null values : 0
var_132 Null values : 0
var_133 Null values : 0
var_134 Null values : 0
var_135 Null values : 0
var_136 Null values : 0
var_137 Null values : 0
var_138 Null values : 0
var_139 Null values : 0
var_140 Null values : 0
var_141 Null values : 0
var_142 Null values : 0
var_143 Null values : 0
var_144 Null values : 0
var_145 Null values : 0
var_146 Null values : 0
var_147 Null values : 0
var_148 Null values : 0
var_149 Null values : 0
var_150 Null values : 0
var_151 Null values : 0
var_152 Null values : 0
var_153 Null values : 0
var_154 Null values : 0
var_155 Null values : 0
var_156 Null values : 0
var_157 Null values : 0
var_158 Null values : 0
var_159 Null values : 0
var_160 Null values : 0
var_161 Null values : 0
var_162 Null values : 0
var_163 Null values : 0
var_164 Null values : 0
var_165 Null values : 0
var_166 Null values : 0
var_167 Null values : 0
var_168 Null values : 0
var_169 Null values : 0
var_170 Null values : 0
var_171 Null values : 0
var_172 Null values : 0
var_173 Null values : 0
var_174 Null values : 0
var_175 Null values : 0
var_176 Null values : 0
var_177 Null values : 0
var_178 Null values : 0
var_179 Null values : 0
var_180 Null values : 0
var_181 Null values : 0
var_182 Null values : 0
var_183 Null values : 0
var_184 Null values : 0
var_185 Null values : 0
var_186 Null values : 0
var_187 Null values : 0
var_188 Null values : 0
var_189 Null values : 0
var_190 Null values : 0
var_191 Null values : 0
var_192 Null values : 0
var_193 Null values : 0
var_194 Null values : 0
var_195 Null values : 0
var_196 Null values : 0
var_197 Null values : 0
var_198 Null values : 0
var_199 Null values : 0
var_200 Null values : 0
var_201 Null values : 0
var_202 Null values : 0
var_203 Null values : 0
var_204 Null values : 0
var_205 Null values : 0
var_206 Null values : 0
var_207 Null values : 0
var_208 Null values : 0
var_209 Null values : 0
var_210 Null values : 0
var_211 Null values : 0
var_212 Null values : 0
var_213 Null values : 0
var_214 Null values : 0
var_215 Null values : 0
var_216 Null values : 0
var_217 Null values : 0
var_218 Null values : 0
var_219 Null values : 0
var_220 Null values : 0
var_221 Null values : 0
var_222 Null values : 0
var_223 Null values : 0
var_224 Null values : 0
var_225 Null values : 0
var_226 Null values : 0
var_227 Null values : 0
var_228 Null values : 0
var_229 Null values : 0
var_230 Null values : 0
var_231 Null values : 0
var_232 Null values : 0
var_233 Null values : 0
var_234 Null values : 0
var_235 Null values : 0
var_236 Null values : 0
var_237 Null values : 0
var_238 Null values : 0
var_239 Null values : 0
var_240 Null values : 0
var_241 Null values : 0
var_242 Null values : 0
var_243 Null values : 0
var_244 Null values : 0
var_245 Null values : 0
var_246 Null values : 0
var_247 Null values : 0
var_248 Null values : 0
var_249 Null values : 0
var_250 Null values : 0
var_251 Null values : 0
var_252 Null values : 0
var_253 Null values : 0
var_254 Null values : 0
var_255 Null values : 0
var_256 Null values : 0
var_257 Null values : 0
var_258 Null values : 0
var_259 Null values : 0
var_260 Null values : 0
var_261 Null values : 0
var_262 Null values : 0
var_263 Null values : 0
var_264 Null values : 0
var_265 Null values : 0
var_266 Null values : 0
var_267 Null values : 0
var_268 Null values : 0
var_269 Null values : 0
var_270 Null values : 0
var_271 Null values : 0
var_272 Null values : 0
var_273 Null values : 0
var_274 Null values : 0
var_275 Null values : 0
var_276 Null values : 0
var_277 Null values : 0
var_278 Null values : 0
var_279 Null values : 0
var_280 Null values : 0
var_281 Null values : 0
var_282 Null values : 0
var_283 Null values : 0
var_284 Null values : 0
var_285 Null values : 0
var_286 Null values : 0
var_287 Null values : 0
var_288 Null values : 0
var_289 Null values : 0
var_290 Null values : 0
var_291 Null values : 0
var_292 Null values : 0
var_293 Null values : 0
var_294 Null values : 0
var_295 Null values : 0
var_296 Null values : 0
var_297 Null values : 0
var_298 Null values : 0
var_299 Null values : 0
var_300 Null values : 0
target Null values : 0

### constant features removal

In [9]:
from sklearn.feature_selection import VarianceThreshold

In [10]:
reg = VarianceThreshold()

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
X_train.shape , X_test.shape

((33500, 300), (16500, 300))

In [15]:
reg.fit(X_train)

VarianceThreshold()

In [16]:
sum(reg.get_support())   # 258 feturess are not constant

258

In [17]:
X_train.columns[reg.get_support()]

Index(['var_1', 'var_2', 'var_3', 'var_4', 'var_5', 'var_6', 'var_7', 'var_8',
       'var_9', 'var_10',
       ...
       'var_289', 'var_290', 'var_291', 'var_292', 'var_293', 'var_295',
       'var_296', 'var_298', 'var_299', 'var_300'],
      dtype='object', length=258)

In [18]:
constant = X_train.columns[~reg.get_support()]

len(constant)

42

In [19]:
constant

Index(['var_14', 'var_23', 'var_33', 'var_34', 'var_44', 'var_61', 'var_66',
       'var_67', 'var_69', 'var_73', 'var_80', 'var_81', 'var_87', 'var_89',
       'var_92', 'var_97', 'var_99', 'var_112', 'var_113', 'var_120',
       'var_122', 'var_127', 'var_129', 'var_135', 'var_158', 'var_167',
       'var_171', 'var_178', 'var_180', 'var_182', 'var_183', 'var_195',
       'var_196', 'var_201', 'var_212', 'var_215', 'var_225', 'var_227',
       'var_248', 'var_287', 'var_294', 'var_297'],
      dtype='object')

In [20]:
for j in constant:
    print(j , X_train[j].unique())

var_14 [0]
var_23 [0]
var_33 [0]
var_34 [0]
var_44 [0]
var_61 [0]
var_66 [0]
var_67 [0]
var_69 [0]
var_73 [0]
var_80 [0]
var_81 [0]
var_87 [0]
var_89 [0.]
var_92 [0]
var_97 [0]
var_99 [0]
var_112 [0]
var_113 [0]
var_120 [0]
var_122 [0]
var_127 [0]
var_129 [0]
var_135 [0]
var_158 [0]
var_167 [0]
var_171 [0]
var_178 [0.]
var_180 [0.]
var_182 [0]
var_183 [0]
var_195 [0]
var_196 [0]
var_201 [0]
var_212 [0]
var_215 [0]
var_225 [0]
var_227 [0.]
var_248 [0]
var_287 [0]
var_294 [0]
var_297 [0]

In [21]:
X_train['var_171'].unique()

array([0], dtype=int64)

In [22]:
c = X_train.columns[reg.get_support()]

In [23]:
c

Index(['var_1', 'var_2', 'var_3', 'var_4', 'var_5', 'var_6', 'var_7', 'var_8',
       'var_9', 'var_10',
       ...
       'var_289', 'var_290', 'var_291', 'var_292', 'var_293', 'var_295',
       'var_296', 'var_298', 'var_299', 'var_300'],
      dtype='object', length=258)

In [25]:
X_train = reg.transform(X_train)
X_test = reg.transform(X_test)

In [26]:
X_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [56]:
X_train = pd.DataFrame(X_train,columns=c)
X_test = pd.DataFrame(X_test,columns=c)

In [57]:
X_train.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_289,var_290,var_291,var_292,var_293,var_295,var_296,var_298,var_299,var_300
0,0.0,0.0,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,2.76,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,2.88,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
X_train['var_1'].unique()

array([0., 9., 3., 6.])